.gifts .gifts__desc {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 2rem;
}

.gifts .gifts__pix {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
}

.gifts .gifts__pix-button {
  display: block;
  margin: 0 auto 2rem;
}

.gift-card__desc {
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  margin: 0.5rem 0;
}

.gift-card__price {
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}