@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Saira+Condensed:wght@100;600&display=swap');


.title {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5rem;
  margin-top: 0;
  text-align: center;
}