.timeline .timeline__opposite-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.timeline .timeline__item:nth-child(odd) .timeline__opposite-content {
  align-items: flex-end;
  padding-right: 0.5rem;
  padding-left: 0;
}

.timeline .timeline__item:nth-child(even) .timeline__opposite-content {
  align-items: flex-start;
  padding-left: 0.5rem;
  padding-right: 0;
}

.timeline .timeline__content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.timeline .timeline__item:nth-child(odd) .timeline__content {
  align-items: flex-start;
  padding-left: 0.5rem;
  padding-right: 0;
}

.timeline .timeline__item:nth-child(even) .timeline__content {
  align-items: flex-end;
  padding-right: 0.5rem;
  padding-left: 0;
}

.timeline .timeline__opposite-text {
  text-align: center;
}

.timeline .timeline__dot {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.timeline .timeline__title {
  font-size: 1.5rem;
  line-height: 1;
  font-family: var(--cursive-font);
  margin-bottom: 0.5rem;
}

.timeline .timeline__date {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


@media only screen and (min-width: 600px) {
  .timeline .timeline__title {
    font-size: 1.75rem;
  }

  .timeline .timeline__content {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .timeline .timeline__opposite-content {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .timeline .timeline__item:nth-child(odd) .timeline__opposite-content {
    padding-right: 2rem;
  }
  
  .timeline .timeline__item:nth-child(even) .timeline__opposite-content {
    padding-left: 2rem;
  }

  .timeline .timeline__item:nth-child(odd) .timeline__content {
    padding-left: 2rem;
  }
  
  .timeline .timeline__item:nth-child(even) .timeline__content {
    padding-right: 2rem;
  }
}