:root {
  --cursive-font: 'Great Vibes', sans-serif;
  --primary-color: #2B1105;
  --primary-bg-color: #FCF9F7;
  --secondary-font: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

p, h3 {
  margin: 0;
}